body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(images/df.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addDancerButtonOne, .addDancerButtonTwo, .lineUp{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.dejeDancer{
  background-image: url(images/indian.jpg);
  border:30px solid blue;
  border-radius:10px;
  position: absolute;
  background-size: 80px 60px;
  
}
.happyDancer{
  border:10px solid green;
  position: absolute;
}
.div {

}